*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
    background: #222;
}
body{
    overflow-x:  hidden;
    background:#222;
}
.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}
.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width: 45px;
    background-color:#007ced;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a{
    display: block;
    margin-bottom: 15px;
    
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}
.hero-pic img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
h3{
    color: #d5d5d5;
    font-size: 50px;
    font-family: poppins,sans-serif;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
h3:hover{
    transform: scale(1.2);
    transition: 0.4s ease-out;
    color: #007ced;
}
h2{
    color: #828282;
    font-size: 28px;
    font-family: poppins,sans-serif;
}
.card {
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 180px;
    width: 300px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
    margin-left: -50px;
    transition: 0.4s ease-out;
    position: relative;
    margin: auto;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 600;
    position: absolute;
    top: 45px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(255,186,0,1)  0%, rgba(154,217,0,1) 65%,  rgba(0,154,217,1)100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: #007ced;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #2e3033;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    color: #e5e5e5;
    font-size: 14px;
}
.hero-text h5 span{
    color: #007ced;
    font-size: 16px;
}
.hero-text h1{
    color: #007ced;
    font-size: 3rem;
}
.hero-text p{
    color: #e5e5e5;
}
.btn-group{
    margin: 45px 0;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px -8px rgb(0 0 0 / 78%);
}
.btn.active{
    border-color: #007ced;
}
.hero-text .social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}

@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    .click{
        top: 45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40ddeg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks{
        position: absolute;
        top: 110px;
        right: 0;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px  13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right: 0;
    }
}

@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 40px 0px;
    }
}
.hero-text .social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color: #007ced;
    transform: rotate(360deg);
}

section#skills {
    margin: 2.5rem 0 10rem 0
}

section#skills .skills .container {
    display: flex;
    flex-direction: column;
    align-items: center
}

section#skills .skills .container h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 3.2rem;
    color: #F9F9F9;
    font-weight: 600;
    margin-bottom: 10rem
}


section#skills .skills .container .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem
}


section#skills .skills .container .cards .box {
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 180px;
    width: 300px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
    margin-left: -50px;
    transition: 0.4s ease-out;
    position: relative;
    margin: auto;
}

section#skills .skills .container .cards .box p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #007ced;
    margin-bottom: 1.5rem
}

section#skills .skills .container .cards .box img {
    width: 4rem
}

section#skills .skills .container .cards .box::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.3rem;
    background-image: linear-gradient(90deg, #007ced 0%, #007ced 92.32%);
    bottom: -0.1rem;
    left: 0
}

section#skills .skills .container .cards .box:hover {
    transform: scale(1.1)
}

